@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Send the video behind the content */
}

.content {
  z-index: 1; /* Bring the content above the video */
  color: white; /* Adjust text color for contrast */
  text-align: center;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
